@model IEnumerable<Stores.Models.DAL.PrintType>

@{
    ViewBag.Title = "الطابعات";
}


<script>

    function AddNewPrint() {
        $("#form")[0].reset();
        $("#ModalTitle").html("اضافه طابعه جديده ");
        $("#ModalTitle").css("text-align:center ")
        $("#AddModel").modal();

    }

    function addprint() {
        var data = $("#SubmitForm2").serialize();
        $.ajax({
            type: "Post",
            url: "/Employee/SavePrint",
            data: data,
            success: function (result) {
                alert("تم الاضافه بنجاح!..");
                window.location.href = "/employee/PrintType";
                $("#AddModel").modal("hide");

            }
        })
    }



    function ConfirmDelete(ID) {
        $.ajax({
            type: "POST",
            url: "/Employee/DeletePrintType?ID=" + ID,
            success: function (result) {

                location.reload(true);

            }
        })
    }


</script>

<center>
    <a href="#" class="btn btn-primary mb-3" onclick="AddNewPrint()"> طابعه جديده</a> <br />



</center>

<div class="table-responsive" dir="rtl">


    <table class="table table-hover table-striped table-bordered " id="myTable" style="text-align:center" dir="ltr">
        <tr class="">
            <th></th>

            <th>
                تفاصيل
            </th>
            <th>
                الاسم
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>

                    <input type="submit" class='btn btn-danger' value="حذف" onclick="ConfirmDelete(@item.ID)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrinterName)
                </td>


            </tr>
        }

    </table>
</div>



<div class="modal fade" id="AddModel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                @*<a href="#" class="close" data-dismiss="modal">&times;</a>*@
                <h4 id="ModalTitle">اضافه منتج</h4>
            </div>
            <div class="modal-body">
                <form id="form" style="text-align:right;direction:rtl">
                    <fieldset id="SubmitForm2">
                        <div class="form-group">
                            @*<label> </label>*@
                            <input type="text" name="PrinterName" id="PrinterName" value="" placeholder="اسم الطابعه" class="form-control" />
                        </div>

                        <div class="">
                            @*<label> </label>*@
                            <input type="text" name="Description" id="Description" placeholder="معلومات اضافيه" value="" class="form-control" />
                        </div>

                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء</button>
                <a href="#" class="btn btn-success" onclick="addprint()">حفظ</a>
            </div>
        </div>
    </div>
</div>
