@model Stores.Models.PLaceInfo

@{
    ViewBag.Title = "الرئيسيه   ";
}

<div class="">

    <center>
        <img src="~/uptop.png" class="img-fluid" style=" width:100% ;height:500px " />
        @*<img src="@Model.Img" class="img-fluid" style=" width:100% ;height:500px " />*@
    </center>
</div> 