@model  Stores.Models.CommonClasses.ExpensesWithExten

@{
    ViewBag.Title = "المصروفات";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>

    $(document).ready(function () {
        $('#Getsearch').click(function () {
            var dateFrom = new Date($('#from').val());
            var from = dateFrom.toLocaleDateString();
            var dateTo = new Date($('#to').val());
            var to = dateTo.toLocaleDateString();
            var ExpenesCat = $('#ExpenesCat').val();
            var Client = $('#Client').val();

            var url = "/Reports/GetsearchExpenses?from=" + from + "&to=" + to + "&Client=" + Client + "&ExpenesCat=" + ExpenesCat;

            $.ajax({
                url: url,
                contentType: "application/json;charset=utf-8",
                dataType: "Json",
                success: function (data) {
                    $('#SetStudentList').empty();

                    for (var i = 0; i < data.length; i++) {
                        var SetData = $("#SetStudentList");
                        var Data = "<tr class='row_" + data[i].Pro_id + "'>" +

                            "<td>" + Comment(data[i].comment) + "</td>" +

                            //"<td>" + data[i].date + "</td>" +

                            "<td>" + getExpenseName(data[i].ExpensesType_ID) + "</td>" +
                            "<td>" + data[i].amount + "</td>" +

                            "<td>" + getUserName(data[i].User_ID) + "</td>" +

                            "</tr>";
                        SetData.append(Data);
                        $("#LoadingStatus").html(" ");
                    }
                }

            });
        });
    });

    function Comment(comment) {
        if (comment == null) {
            return "لا يوجد وصف ";

        } else {
            return comment;
        }

    }


    function getExpenseName(ExpensesType_ID) {
        var names;
        var url = "/Reports/getExpenseName?ExpensesType_ID=" + ExpensesType_ID;

        $.ajax({
            type: "GET",
            url: url,
            async: false,
            success: function (data) {
                names = data.name;

            }
        })
        return names;
    }



    function getUserName(User_ID) {
        var names;
        var url = "/Reports/getUserName?User_ID=" + User_ID;

        $.ajax({
            type: "GET",
            url: url,
            async: false,
            success: function (data) {
                names = data.name;

            }
        })
        return names;
    }


    function GoPrint() {
        var names;
        var dateFrom = new Date($('#from').val());
        var from = dateFrom.toLocaleDateString();
        var dateTo = new Date($('#to').val());
        var to = dateTo.toLocaleDateString();
        var ExpenesCat = $('#ExpenesCat').val();
        var Client = $('#Client').val();

        var url = "/Reports/ExpensesReport?from=" + from + "&to=" + to + "&Client=" + Client + "&ExpenesCat=" + ExpenesCat;
 
        $.ajax({
            type: "GET",
            url: url,
            async: false,
            success: function (data) {
                names = data;

            }
        })
        return names;
    }

</script>
<center>
    <div class="SearchArea">

        <fieldset id="SubmitForm">
            <table style="text-align:center">
                <thead>
                    <tr>
                        <th>
                            اسم المستخدم

                        <th>
                            نوع
                        </th>

                        <th>
                            الى
                        </th>
                        <th>
                            من
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select name="Client" id="Client" class="form-control">
                                <option value=""> - اختار المستخدم -</option>

                                @{
                                    foreach (var item in Model.UsersX)
                                    {
                                        <option @item.Id> @item.name </option>
                                    }
                                }
                            </select>
                        </td>

                        <td>
                            <select name="ClientCat" id="ExpenesCat" class="form-control">
                                <option value=""> - اختار نوع -</option>

                                @{
                                    foreach (var item in Model.ExpensesTypeX)
                                    {
                                        <option @item.ExpensesType_ID> @item.name </option>
                                    }
                                }
                            </select>
                        </td>

                        <td>
                            <input type="date" name="to" class="form-control" id="to" required />

                        </td>
                        <td>
                            <input type="date" name="from" class="form-control" id="from" required />

                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <center>
                <input type="submit" value="بحث" class="btn btn-info" id="Getsearch" />
                <input type="submit" value="طباعه" class="btn btn-info" id="GoPrint" onclick="GoPrint()" />

            </center>
        </fieldset>


    </div>
</center>
<table class="table table-hover" id="myTable" style="text-align:center">
    <tr class="table-heading " style="background-color:#40BCBA">


        <th>
            الوصف
        </th>
        @*<th>
            التاريخ
        </th*@>
        <th>
            النوع
        </th>
        <th>
            القيمه
        </th>
        <th>
            اسم المستخدم
        </th>
    </tr>

    <tbody id="SetStudentList">
        <tr id="LoadingStatus" style="color:red"></tr>
    </tbody>

</table>
