@model Stores.Models.CommonClasses.PaymentsWithExten

@{
    ViewBag.Title = "الدفعات الماليه";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>


    // fill clients dropdownlist

    $(document).ready(function () {
        $("#ClientCat").change(function () {
            var id = $(this);
            $.ajax({

                url: '/Reports/ClientCat?Clients_Type_id=' + id.val(),
                contentType: "application/json;charset=utf-8",
                dataType: "Json",
                success: function (data) {
                    $('#client').empty();

                    $.each(data, function (index, value) {
                        $('#client').append('<option value="' + value.Client_ID + '">' + value.name + '</option>');
                    });
                }

            });
        });
    });



    $(document).ready(function () {
        $('#Getsearch').click(function () {

            var dateFrom = new Date($('#from').val());
            var from = dateFrom.toLocaleDateString();
            var dateTo = new Date($('#to').val());
            var to = dateTo.toLocaleDateString();
            var client = $('#client').val();
            var url = "/Reports/Paymentsreport?from=" + from + "&to=" + to + "&client=" + client;

            $.ajax({

                url: url,
                contentType: "application/json;charset=utf-8",
                dataType: "Json",
                success: function (data) {
                    $('#SetStudentList').empty();

                    for (var i = 0; i < data.length; i++) {
                        var SetData = $("#SetStudentList");

                        var Data = "<tr class='row_" + data[i].Payments_ID + "'>" +
                            
                            "<td>" +  data[i].date + "</td>" +
                            "<td>" + data[i].Payment_amount + "</td>" +
                            "<td>" + getclientName(data[i].client_id) + "</td>" +

                             "<td>" + getUserName(data[i].user_id) + "</td>" +

                            "</tr>";
                        SetData.append(Data);
                        $("#LoadingStatus").html(" ");
                    }
                }

            });
        });
    });



    function getUserName(user_id) {
        var names;
        var url = "/Reports/getUserName?user_id=" + user_id;

        $.ajax({
            type: "GET",
            url: url,
            async: false,
            success: function (data) {
                names = data.name;

            }
        })
        return names;
    }

    function getclientName(client_id) {
        var names;
        var url = "/Reports/getclientName?client_id=" + client_id;

        $.ajax({
            type: "GET",
            url: url,
            async: false,
            success: function (data) {
                names = data.name;

            }
        })
        return names;
    }
 


</script>

<center>
    <div class="SearchArea">

        <fieldset id="SubmitForm">
            <table style="text-align:center">
                <thead>
                    <tr>
                        <th>
                            اسم العميل

                        <th>
                            نوع
                        </th>

                        <th>
                            الى
                        </th>
                        <th>
                            من
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td>
                            <select name="client" id="client" class="form-control">
                                <option value=""> - اختار الاسم -</option>
                                @{

                                }

                            </select>
                        </td>

                        <td>
                            <select name="ClientCat" id="ClientCat" class="form-control">
                                <option value=""> - اختار نوع -</option>
                                @{
                                    foreach (var item in Model.Clients_TypeX)
                                    {
                                        <option @item.Clients_Type_id> @item.name </option>
                                    }
                                }
                            </select>
                        </td>

                        <td>
                            <input type="date" name="to" class="form-control" id="to" required />

                        </td>
                        <td>
                            <input type="date" name="from" class="form-control" id="from" required />

                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <center>
                <input type="submit" value="بحث" class="btn btn-info" id="Getsearch" />

            </center>
        </fieldset>


    </div>
</center>
<table class="table table-hover" id="myTable" style="text-align:center">
    <tr class="table-heading " style="background-color:#40BCBA">



        <th>
            التاريخ
        </th>
        <th>
            المبلغ
        </th>
        <th>
            العميل
        </th>
        <th>
            المستخدم
        </th>
     </tr>
    <tbody id="SetStudentList">
        <tr id="LoadingStatus" style="color:red"></tr>
    </tbody>


</table>
