
@if (Session["userName"] != null)
{
    using (Html.BeginForm("LogOff", "employees", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        @*<a href='@Url.Action( "profile", "employees")' class='text-right font-weight-bold mr-2'><i class="fas fa-user-circle fa-2x"></i></a>*@
        <li class='nav-item  '>

            <a href='@Url.Action("LogOff", "Employee")' class='nav-link  font-weight-bold text-right'><i class="fas fa-sign-out-alt fa-lg"></i></a>
        </li>
    }
}
else
{
    <li class='nav-item  '>

        <a href='@Url.Action( "Login", "Employee")' class='nav-link  font-weight-bold text-right'><i class="fas fa-sign-in-alt fa-2x"></i></a>
    </li>

}
