@model Stores.Models.CommonClasses.NotificationWithExten

@{
    ViewBag.Title = "التنبيهات";
}
<center>
    <h4>الكميات المنتهية</h4>

</center>
<br />
<div class="table-responsive" dir="rtl">


    <table class="table table-hover table-striped table-bordered table-sm" id="myTable" style="text-align:center" dir="ltr">
        <tr class="table-heading " >

            <th>
                الحاله
            </th>
            <th>
                اقل كميه
            </th>

            <th>
                الكميه الحاليه
            </th>
            <th>

                المخزن
            </th>
            <th>
                اسم المنتج
            </th>
        </tr>

        @foreach (var item in Model.ProPricX)
        {
            <tr>
                <td>

                    @if (item.active == true)
                    {
                        <p> فعال</p>

                    }
                    else
                    {
                        <p> غير فعال </p>

                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Minmum)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)

                </td>
                <td>

                    @foreach (var items in Model.StorehousesX.Where(p => p.Store_Id == item.Store_Id))
                    {
                        @items.name
                    }

                </td>
                <td>
                    @foreach (var items in Model.ProductX.Where(p => p.Pro_id == item.Pro_ID))
                    {
                        @items.name
                    }


                </td>

            </tr>
        }

    </table>
    </div>