
@{
    ViewBag.Title = "دخول الشركه";
}

<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/main.css" rel="stylesheet" />
 </head>
<body>
    @using (Html.BeginForm("Login", "Admin"))
    {
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <form class="login100-form validate-form">
                    
                    

                        <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
                            <input class="input100" type="text" name="email">
                            <span class="focus-input100" data-placeholder="Email"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <span class="btn-show-pass">
                                <i class="zmdi zmdi-eye"></i>
                            </span>
                            <input class="input100" type="password" name="pass">
                            <span class="focus-input100" data-placeholder="Password"></span>
                        </div>

                        <div class="container-login100-form-btn">
 
                                <input type="submit" value="ألدخول" class="btn btn-info" id="AddContentID" />

                             </div>
                        
                    </form>
                </div>
            </div>
        </div>
    }

        <div id="dropDownSelect1"></div>


    </body>
</html>
