@model Stores.Models.CommonClasses.BillsWithExten

@{
    ViewBag.Title = "فاتورة بيع";
}

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>


<script>

    // fill product dropdownlist

    $(document).ready(function () {
        $("#section").change(function () {
            var id = $(this);
            $.ajax({
                url: '/Bills/GetcategoryPro?Pro_id=' + id.val(),
                contentType: "application/json;charset=utf-8",
                dataType: "Json",
                success: function (data) {
                    $('#pro').empty();

                    $.each(data, function (index, value) {
                        $('#pro').append('<option value="' + value.Pro_id + '">' + value.name + '</option>');
                    });
                }

            });
        });
    });

    // add client form

    function AddNewCustomer(StudentId) {
        $("#form")[0].reset();
        $("#Client_ID").val(0);
        $("#ModalTitle").html("اضافه عميل جديد");
        $("#ModalTitle").css("text-align:center ")
        $("#MyModal").modal();

    }


    // add client

    function AddClient() {
        $("#name").prop('required', true);
        $("#phone").prop('required', true);
        var data = $("#SubmitForm2").serialize();

        $.ajax({
            type: "Post",
            url: '/Bills/SaveClientData',
            data: data,
            success: function (result) {
                alert("تمت الاضافه بنجاج");
                // window.location.href = "/Home/index";
                $("#MyModal").modal("hide");
                location.reload(true);


            }
        })

    };

    // return value of price and cost

    $(document).ready(function () {
        $("#pro").change(function () {
            var id = $(this);
            $.ajax({

                url: '/Bills/ReturnValue?Pro_id=' + id.val(),
                contentType: "application/json;charset=utf-8",
                dataType: "Json",
                type: 'GET',
                async: true,
                cache: false,
                success: function (data) {

                    $.each(data, function (index, value) {
                        $('#elmotwafer').val(value.Quantity);
                        $('#Price').val(value.Price);
                    });
                }


            });
        });
    });


    //return total price before discount

    $(document).ready(function () {

        $("#amount").change(function () {

            var amount = $('#amount').val();
            var price = $('#Price').val();
            var res = amount * price;

            $('#Total').val("الاجمالى : " + res);


        });
    });


    // sum  product  price for data table
    function sum(p, d) {

        var res = p * d;
        return res;
    }

    // return list of bills


    $(document).ready(function () {
        $('#body').ready(function () {
            $.ajax({
                url: '/Bills/FillBills',
                contentType: "application/json;charset=utf-8",
                dataType: "Json",
                success: function (data) {

                    for (var i = 0; i < data.length; i++) {
                        var SetData = $("#SetStudentList");
                        var ss = data[i].Quantity
                        //  var amount = 4;
                        var dd = data[i].price;
                        //  var price = 3;
                        var res = dd * ss;
                        var Data = "<tr class='row_" + data[i].BillsContent_ID + "'>" +
                            "<td>" + data[i].BillsContent_ID + "</td>" +
                            "<td>" + getClientName(data[i].BillsContent_ID) + "</td>" +
                            "<td>" + getProName(data[i].Product_ID) + "</td>" +
                            "<td>" + data[i].Quantity + "</td>" +
                            "<td>" + data[i].Price + "</td>" +
                            //"<td>" + data[i].Status + "</td>" +
                            "<td>" + sum(data[i].Price, data[i].Quantity) + "</td>" +
                            //"<td>" + "<a href='#' class='btn btn-warning' onclick='EditBillRecord(" + data[i].BillsContent_ID+")' ><span class='glyphicon glyphicon-edit'></span> تعديل</a>" + "</td>" +
                            "<td>" + "<a href='#' class='btn btn-danger' onclick='DeleteStudentRecord(" + data[i].BillsContent_ID + ")'><span class='glyphicon glyphicon-trash'></span> حذف</a>" + "</td>" +
                            "</tr>";
                        SetData.append(Data);
                        $("#LoadingStatus").html(" ");
                    }
                }

            });
        });
    });



    // get pto name in content
    function getProName(Product_ID) {
        var name;
        var url = "/Bills/ReturnProName?Product_ID=" + Product_ID;
        $.ajax({
            type: "GET",
            url: url,
            async: false,
            success: function (data) {
                name = data.name;

            }
        })
        return name;
    }

    // get client in content

    function getClientName(BillsContent_ID) {
        var names;
        var url = "/Bills/ReturnClientName?BillsContent_ID=" + BillsContent_ID;

        $.ajax({
            type: "GET",
            url: url,
            async: false,
            success: function (data) {
                names = data.name;

            }
        })
        return names;
    }


    //Show The Popup Modal For Edit Student Record

    function EditBillRecord(BillsContent_ID) {
        var url = "/Bills/GetBillById?BillsContent_ID=" + BillsContent_ID;
        $("#ModalTitle").html("Update Student Record");
        $("#EditModel").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#BillsContent_ID").val(obj.BillsContent_ID);
                $("#Quantity").val(obj.Quantity);
                $("#Cost").val(obj.Cost);
                $("#price").val(obj.Price);
                $("#IsDeleted").val(obj.IsDeleted);
                $("#Product_ID").val(obj.Product_ID);
                $("#Bill_ID").val(obj.Bill_ID);


            }
        })
    }

    // fatora gdeda
    function ss() {
        alert("فاتوره جديده وعميل جديد");
    }


    //Show The Popup Modal For DeleteComfirmation
    var DeleteStudentRecord = function (BillsContent_ID) {
        $("#BillsContent_ID").val(BillsContent_ID);
        $("#DeleteConfirmation").modal("show");
    }

    // delete row
    var ConfirmDelete = function () {
        var BillsContent_ID = $("#BillsContent_ID").val();
        $.ajax({
            type: "POST",
            url: "/Bills/DeleteContentRecord?BillsContent_ID=" + BillsContent_ID,
            success: function (result) {
                $("#DeleteConfirmation").modal("hide");
                $(".row_" + BillsContent_ID).remove();
                location.reload(true);

            }
        })
    }


    // return fatora num
    $(document).ready(function () {
        $.ajax({
            url: '/Bills/returnLastid',
            contentType: "application/json;charset=utf-8",
            dataType: "Json",
            type: 'GET',
            success: function (data) {
                $('#fatoraID').val(data);
                //$('#Price').val(value.Price);
            }
        });


    });

    // return total of fatora
    $(document).ready(function () {
        var res = 0;
        var finalres = 0;
        $('#body').ready(function () {

            $.ajax({
                url: '/Bills/FillBills',
                contentType: "application/json;charset=utf-8",
                dataType: "Json",
                success: function (data) {

                    for (var i = 0; i < data.length; i++) {
                        res = data[i].Quantity * data[i].Price;
                        finalres += res;
                    }
                    $('#totalFatora').val(finalres);
                }
            });
        });
    });


    // return total after discount
    $(document).ready(function () {
        $("#discount").change(function () {

            var totaFatora = $('#totalFatora').val();
            var dicount = $('#discount').val()
            $('#AfterDiscount').val(totaFatora - dicount)
            //alert(lll)

        });
    });


    // el baqy
    $(document).ready(function () {
        $("#elmodfoa").change(function () {

            var AfterDiscount = $('#AfterDiscount').val();
            var elmodfoa = $('#elmodfoa').val()
            $('#Elbaqy').val(AfterDiscount - elmodfoa)
            //alert(lll)

        });
    });


    $(document).ready(function () {
        $("#amount").change(function () {

            var _quantity = $('#amount').val();

            var _elmotwafer = $('#elmotwafer').val();

            if (_elmotwafer > _quantity) {

                //     alert("الكميه اكبر من المتوفر فى المخزن ")
                $("#amount").css("border-color", "green");
                $("#AddContentID").attr("disabled", false);

            }
            else {
                $("#amount").css("border-color", "red");
                $("#AddContentID").attr("disabled", true);
            }
        });
    });





    $(document).ready(function () {

        var name = $('#name').val();
        var phone = $('#phone').val();

        if (1 == 1) {

            $("#SaveRecordID").attr("disabled", true);

        }
        $("#SaveRecordID").attr("disabled", true);


    });



    function Newfatora() {
        var data = $("#SubmitForm").serialize();

        var fatoraID = $('#fatoraID').val();
        var discount = $('#discount').val();
        var elmodfoa = $('#elmodfoa').val();

        var url = "/Bills/NewFatora?fatoraID=" + fatoraID + "&discount=" + discount + "&elmodfoa=" + elmodfoa;

        $.ajax({
            type: "Post",
            url: url,
            data: data,
            success: function (result) {

              //  $("#MyModal").modal("hide");
                 location.reload(true);


            }
        })

    };


</script>

<center>
    <a href="#" class="btn btn-info" onclick="AddNewCustomer(0)">اضافه عميل</a> <br /><br />
</center>

<div class="container">
    @using (Html.BeginForm("AddBillsContent", "Bills"))
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="fatora">

                    <fieldset id="SubmitForm">
                        <table style="text-align:center">
                            <thead>
                                <tr>
                                    <th>
                                        أختر النوع
                                    </th>
                                    <th>
                                        أختر المنتج
                                    </th>
                                    <th>
                                        الكميه
                                    </th>
                                    <th>
                                        سعر القطعه
                                    </th>
                                    <th>
                                        المتوفر
                                    </th>
                                    <th>
                                        الاجمالى

                                    </th>
                                    <th>
                                        اسم العميل

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <select name="Cat" id="section" class="form-control" required="required">
                                            <option value=""> اختار الصنف</option>
                                            @{
                                                foreach (var item in Model.prodCategoryX)
                                                {
                                                    <option @item.Cate_ID> @item.name </option>
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <select name="pro" id="pro" class="form-control" required="required">

                                            <option value=""> اختار المنتج</option>
                                            @{

                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" name="Quantity" class="form-control" id="amount" required />
                                    </td>
                                    <td>
                                        <input type="text" name="Price" class="form-control" id="Price" readonly />
                                    </td>
                                    <td>
                                        <input type="text" name="elmotwafer" class="form-control" id="elmotwafer" readonly />
                                    </td>
                                    <td>
                                        <input type="text" name="Total" class="form-control" id="Total" disabled />
                                    </td>
                                    <td>
                                        <select name="Client_ID" id="Client_ID" class="form-control" required="required">
                                            <option value=""> - اختار العميل-</option>

                                            @{
                                                foreach (var item in Model.ClientsX.Where(f=>f.Active==true))
                                                {
                                                    <option @item.Client_ID> @item.name </option>
                                                }
                                            }
                                        </select>

                                    </td>


                                </tr>

                            </tbody>

                        </table>
                        <br />

                        <center>
                            <input type="submit" value="اضافه" class="btn btn-info" id="AddContentID" />
                        </center>

                    </fieldset>




                </div>


            </div>


        </div>

    }


    <br />


    <table class="table table-striped" style="text-align:center">
        <thead>
            <tr>
                <th>رقم التسلسل</th>
                <th>اسم العميل </th>
                <th>المنتج</th>

                <th>عدد القطع</th>
                <th>سعر القطعه</th>
                <th>الاجمالى</th>
                <th>(حذف)</th>
            </tr>
        </thead>
        <tbody id="SetStudentList">
            <tr id="LoadingStatus" style="color:red"></tr>
        </tbody>
    </table>
    <center>

    </center>
    <hr style="color:black;background-color:black" />
    <div class="row">

        @*@using (Html.BeginForm("NewFatora", "Bills", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {*@
        <div class="col-xs-12">
            <div class="fatora">

                <fieldset id="SubmitForm">
                    <table style="text-align:center">
                        <thead>
                            <tr>
                                <th>
                                    رقم الفاتوره
                                </th>

                                <th>
                                    اجمالى الفاتوره
                                </th>

                                <th>
                                    الخصم الفاتوره
                                </th>

                                <th>
                                    السعر بعد الخصم الفاتوره
                                </th>

                                <th>
                                    المدفوع
                                </th>
                                <th>
                                    الباقى
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" name="fatoraID" class="form-control" id="fatoraID" readonly />

                                </td>
                                <td>
                                    <input type="text" name="totalFatora" class="form-control" id="totalFatora" readonly />

                                </td>
                                <td>
                                    <input type="text" name="discount" class="form-control" id="discount" required />

                                </td>
                                <td>
                                    <input type="text" name="AfterDiscount" class="form-control" id="AfterDiscount" readonly />

                                </td>
                                <td>
                                    <input type="text" name="elmodfoa" class="form-control" id="elmodfoa" required />

                                </td>
                                <td>
                                    <input type="text" name="Elbaqy" class="form-control" id="Elbaqy" readonly />

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <center>
                        <input type="submit" value="حفظ وطباعه" class="btn btn-info" id="saveprintID" onclick="Newfatora()" />

                    </center>
                </fieldset>


            </div>

        </div>
        @*}*@
    </div>



</div>

@*for new customer*@

<div class="modal fade" id="MyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle"></h4>
            </div>
            <div class="modal-body">
                <form id="form">
                    <fieldset id="SubmitForm2" class="text-right" style="direction:rtl">
                        <div class="form-group">
                            <label>اسم العميل</label>

                            <input type="text" name="name" id="name" placeholder="اسم العميل" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label>رقم التليفون</label>
                            <input type="text" name="phone" id="phone" placeholder=" رقم التليفون" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label>العنوان</label>
                            <input type="text" name="Address" id="Address" placeholder="العنوان" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>رقم البطاقه</label>
                            <input type="text" name="nationalID" id="nationalID" placeholder="رقم قومى" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>الحاله</label>
                            <input type="checkbox" name="Active" id="Active" value="true" placeholder="الحاله" class="" />
                        </div>

                        <div class="form-group">
                            <button class="btn btn-block btn-info" onclick="AddClient();" id="SaveRecord" value="اضافه">اضافه</button>

                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

@*edit record*@

<div class="modal fade" id="EditModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle">تعديل الفاتوره</h4>
            </div>
            <div class="modal-body">
                <form id="form">
                    <fieldset id="SubmitForm">
                        <div class="form-group">
                            <label>رقم الفاتوره</label>

                            <input type="text" name="BillsContent_ID" id="BillsContent_ID" value="" class="form-control" disabled />
                        </div>

                        <div class="form-group">
                            <label>اسم المنتج</label>
                            <input type="text" name="Product_ID" id="Product_ID" value="true" class="form-control" disabled />
                        </div>

                        <div class="form-group">
                            <label>الكميه</label>
                            <input type="text" name="Quantity" id="Quantity" value="" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>سعر القطعه</label>
                            <input type="text" name="price" id="price" value="" class="form-control" disabled />
                        </div>
                        <div class="form-group">
                            <label>التكلفه</label>
                            <input type="text" name="Cost" id="Cost" value="" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>الحاله</label>
                            <input type="checkbox" name="IsDeleted" id="IsDeleted" value="true" class="" />
                        </div>

                        <div class="form-group">
                            <a href="#" class="btn btn-block btn-info" onclick="saveEditRecord()" id="SaveRecord">Save</a>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>




@*Create A PopUp Modal For DeleteConfirmation*@

<div class="modal fade" id="DeleteConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>حذف هذا المنتج</h4>
            </div>
            <div class="modal-body">
                <h4>متأكد من الحذف ؟.</h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancle</a>
                <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
            </div>
        </div>
    </div>
</div>
